@media screen and (max-width: 825px) {
  .user-list-container {
    width: 92%;
  }
  .col-1 {
    display: none;
  }

  .col-2 {
    width: 25%;

    .img-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .img {
        img {
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .col-3 {
    width: 20%;
  }

  .col-4 {
    display: none;
  }

  .col-5 {
    display: none;
  }

  .col-6 {
    display: none;
  }

  .col-7 {
    width: 21%;
  }
}
