.row-item {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background: #bdb5d5;
  border: 0.1rem solid #fff0f5;
}

.row-item-2 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background: #77e4d4;
  border: 0.1rem solid #b4fe98;
}

.row-item-3 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background: #ff5c58;
  border: 0.1rem solid #fe8f8f;
}

.row-item-4 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background: #fff7ae;
  border: 0.1rem solid #f6d167;
}

.fs {
  font-size: 2em;
  color: #fff;
}
